.carousel-container {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-handlers {
  display: flex;
  justify-content: space-between;
}

.images-container {
  display: flex;
  /* overflow: hidden; */
}

.images-container > div {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.next-button,
.prev-button {
  padding: 10px;
  font-size: 1rem;
  background: red;
  text-align: center;
  position: absolute;
  top: 50%;
}

.next-button {
  right: 20px;
}

.prev-button {
  left: 20px;
}
