.container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  gap: 10px;
}

.stars {
  width: 100px;
  height: 100px;
  border: none;
  padding: 15px;
  font-size: 4rem;
  cursor: pointer;
  text-align: center;
}

.on {
  background: yellow;
}

.off {
  background: gray;
}
