.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 50px;
}

.input {
  width: 200px;
  height: 40px;
  font-size: 1.5rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.buttons {
  width: 120px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
