.container{
  margin-top: 20px;
}

.input-box{
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 8px;
  min-width: 150px;
  margin-bottom: 15px;
  margin-top: 20px;

}

.chip-container{
  min-width: 150px;
  display: flex;
  gap: 8px;
  marging-top: 12px;
}

.chip-body{
  padding: 1px 2px 1px 2px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid gray;
  min-width: 4rem; 
  text-align: center;
  background-color: gray;
}

.chip-title{
  font-size: 0.8rem;
  color: white
}

.chip-cross{
  font-size: 0.8rem;
  color: red;
  position: absolute;
  top: 4px;
  right: 5px;
  font-weight: 600;
  cursor: pointer
}