.body-container{
  width: 35rem;
  margin: auto;
}

.container{
  padding:2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.column{
  width: 12rem;

}

.header{
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.scrollable-list-container{
  
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left
}

.card-item{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 12rem;
  cursor: grab
}

.task-title{
  font-weight: 600;
  font-size: 1rem
}

.task-description{
  font-weight: 400;
  font-size: 0.65rem
}