.container{
  margin-top: 22px;
  width: 35rem;
  padding: 8rem;
  border-radius: 2px;
  box-shadow: 3px 2px 6px 1px lightgray;
}

.folder-selector-container{
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem
}

.file-select-input{
  display: none
}

.file-select-title{
  font-weight: 600;
  cursor: pointer
}

.files-preview{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 2.5rem
}

.file-item{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 8px;
  position: relative;
}

.file-img{
  width: 50px;
  height: 50px;
  border-radius: 0.8rem;
  margin-right: 0.5rem
}

.file-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600
}


.file-detail-name{
  text-align: left
}

.file-detail-size{
text-align: left
}

.delete-file-btn{
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top:25%;
  right: 1%
}