.conatiner{
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.grid-container{
  display: grid;
  gap: 0.45rem;
  /* grid-template-columns: repeat(3, 1fr) */
}

.grid-cell{
  width: 8rem;
  height: 8rem;
}

.grid-btn{
  border: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  /* background: gray */
}