.container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.image-content{
  width: 250px;
  height: 300px;
}

.name-content{
  font-size: 1.35rem;
}