.game-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.65rem;
  /* justify-content:center; */
  width: 24rem;
  height: 24rem;
  margin:auto;
}

.game-matrix{
  /* width: 4rem;
  height: 4rem; */
}

.game-btn{
  width: 100%;
  height: 100%;
  border: none;
  background: gray;
  font-weight: 600;
  font-size: 2rem;
  color: white
}