.progress-container{
  height:25px;
  width: 300px;
  margin-top: 20px;
  border-radius: 10px;
  overflow:hidden;
  border: 1px solid gray
}

.progress-body{
  width: 100%;
  height:100%;
  text-align:center;
   background-color: green;
  /* transform: translateX(-10%) */
  transition: 0.5s ease-out;
}
